* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(168, 168, 168);
  background-color: whitesmoke;
}

/*HEADER*/
.index {
  background-color: whitesmoke;
}

header {
  margin-left: 50%;
  font-size: 1.1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-right: 50%;
}
header nav ul li {
  display: inline-flex;
  padding-right: 20px;
  padding-top: 5%;
}

.portada {
  padding-left: 10%;
  padding-right: 20px;
  padding-top: 5%;
  display: inline-flex;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: whitesmoke;
}
.portada img {
  height: 60vh;
  width: 35vh;
  display: inline;
  padding-left: 20px;
}

.texto {
  display: inline-flex;
  margin-top: 15%;
  margin-left: 10%;
  padding-right: 10%;
  color: rgb(8, 7, 7);
}
.texto h1 {
  font-size: 5rem;
  animation: tracking-in-contract 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) backwards;
  animation-delay: 1s;
}

/*FOOTER*/
footer {
  padding: 1%;
  background-color: #7dece3;
  text-align: center;
  font-size: small;
  margin-top: 7%;
}
footer p {
  background-color: #7dece3;
  text-align: center;
}

.iconos {
  display: inline-flex;
  align-items: center;
  text-align: center;
  gap: 30%;
  background-color: #7dece3;
  margin-right: 10%;
}

.indexfooter {
  display: none;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.contacto {
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  color: gray;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.linea {
  background-color: rgb(139, 146, 144);
  padding: 0.1px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.bodycontacto {
  background-color: whitesmoke;
}

.boton {
  border-radius: 10%;
  margin-top: 5%;
  align-items: center;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 40%;
  font-size: small;
  border-color: grey;
}

.destinos-principal {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tailandia {
  font-size: large;
  margin-left: 25%;
  margin-top: 5%;
}

.destinos {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 140px 140px;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-areas: "texto1 texto1 texto1 texto1 img1 img2 img3" "texto1  texto1 texto1 texto1 img4 img5 img6";
}
.destinos img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img1 {
  grid-area: img1;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.img2 {
  grid-area: img2;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}

.img3 {
  grid-area: img3;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2s;
}

.img4 {
  grid-area: img4;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 3s;
}

.img5 {
  grid-area: img5;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 4s;
}

.img6 {
  grid-area: img6;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 5s;
}

.texto1 {
  grid-area: texto1;
  padding-left: 15%;
  margin-right: 10%;
  margin-top: 1%;
  text-align: center;
  padding: 0%;
  font-size: 14px;
  animation: slide-in-left 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bodydestino {
  background-color: whitesmoke;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.galeria-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 15%;
  grid-gap: 10px;
  margin: 10%;
  margin-bottom: 20%;
}
.galeria-contenedor .galeria-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria-item:nth-child(6) {
  grid-column-start: span 2;
}

.galeria-item:nth-child(1) {
  grid-row-start: span 2;
}

.galeria-item:nth-child(3) {
  grid-row-start: span 2;
}

.galeria-item:nth-child(10) {
  grid-row-start: span 2;
}

.galeria-item:nth-child(13) {
  grid-column-start: span 2;
}

.bodygaleria {
  background-color: whitesmoke;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
  margin-top: 2%;
}
.tarjetas .titulo-tarjeta {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.tarjetas .card {
  width: 45vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  font-size: small;
  margin-top: 40px;
  margin-left: 40px;
  text-align: center;
  background-color: whitesmoke;
}
.tarjetas .card-img {
  width: 40vh;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 2%;
}
.tarjetas .card-content {
  margin: 5%;
}
.tarjetas .linea1 {
  background-color: gray;
  padding: 0.1px;
  margin-top: 2%;
  margin-bottom: 1%;
}
.tarjetas .calendario {
  margin-top: 5%;
  display: inline-block;
}
.tarjetas .dias {
  font-size: medium;
  padding-top: 2%;
  font-family: "Times New Roman", Times, serif;
  color: grey;
}

.bodyoportunidades {
  background-color: whitesmoke;
}

/*MEDIA QUERIES TABLET*/
@media screen and (max-width: 1024px) {
  .indexfooter {
    display: none;
  }
  .portada {
    display: none;
  }
  .index {
    background-image: url("../img/portada2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  body, html {
    height: 100%;
    margin: 0;
  }
  body::before {
    content: "TRAVEL";
    position: absolute;
    top: 0%;
    left: 3%;
    color: #070707;
    font-size: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    animation: tracking-in-contract 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) backwards;
    animation-delay: 1s;
  }
  header {
    padding: 0%;
    background-color: transparent;
  }
  .nav {
    margin-left: 70%;
    padding: 0%;
    background-color: transparent;
  }
  .texto1 {
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
    font-size: small;
    text-align: center;
  }
  .destinos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 140px 140px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-areas: "texto1 texto1 texto1" "texto1 texto1 texto1" "texto1 texto1 texto1" "img1 img2 img3" " img4 img5 img6";
  }
  .tailandia {
    text-align: center;
    margin: 0%;
    padding: 0%;
    text-decoration: underline;
    margin-top: 5%;
  }
  .card {
    padding: 0%;
    margin-left: 30%;
    margin-bottom: 5%;
  }
  .galeriafooter {
    margin-top: 25%;
  }
  .galeria-contenedor {
    margin: 4%;
    grid-gap: 5px;
  }
  .contacto {
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
  }
  .iconos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 13%;
    gap: 5%;
    margin-top: 5%;
    align-items: center;
    text-align: center;
  }
  .icono-contacto-tarjeta {
    margin-top: 4%;
  }
  .iconos p {
    margin-right: 0%;
  }
  .linea {
    background-color: rgb(61, 60, 60);
    padding: 0.1px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
  }
}
/*MEDIA QUERIES MOBILE*/
@media screen and (max-width: 480px) {
  .portada {
    display: none;
  }
  .index {
    background-image: url("../img/portada2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  body, html {
    height: 100%;
    margin: 0%;
    padding: 0%;
  }
  .index::before {
    text-align: center;
    top: 40%;
    left: 0%;
    right: 0%;
    color: white;
    font-size: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    animation: tracking-in-contract 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) backwards;
    animation-delay: 1s;
  }
  header {
    padding: 0%;
    background-color: transparent;
  }
  .nav {
    margin: 0%;
    padding: 0%;
    background-color: transparent;
  }
  .texto {
    color: rgb(8, 7, 7);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .card {
    padding: 0%;
    margin-left: 4%;
    margin-bottom: 5%;
  }
  .galeriafooter {
    margin-top: 25%;
  }
  .galeria-contenedor {
    margin: 2%;
    grid-gap: 2px;
  }
  .destinos {
    font-size: small;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }
  .texto1 {
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
    font-size: small;
    text-align: left;
  }
  .destinos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 140px 140px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-areas: "texto1 texto1 texto1" "texto1 texto1 texto1" "texto1 texto1 texto1" "img1 img2 img3" "img4 img5 img6";
  }
  .tailandia {
    text-align: center;
    margin: 0%;
    text-decoration: underline;
    margin-top: 5%;
  }
  .contacto {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: gray;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .linea {
    background-color: grey;
    padding: 0.1px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  .boton {
    border-radius: 10%;
    margin-top: 5%;
    align-items: center;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 40%;
    font-size: small;
    border-color: grey;
  }
  .iconos {
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 0%;
    margin-bottom: 2%;
  }
}/*# sourceMappingURL=estilo.css.map */