*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(168, 168, 168);
}

header nav ul li{
    display: inline-flex;
    padding-right: 20px;
    padding-top: 5%;
}

header{
    padding-left: 50%;
    text-align:center;
    font-size: 1rem;
}

.portada img{
    height: 60vh;
    width: 35vh;
    display:inline;
    padding-left: 20px;
}

.portada{
    padding-left: 10%;
    padding-right: 20px;
    padding-top:5%;
    display:inline-flex;
    text-align:center;
}

.texto{
    display: inline-flex;
    padding-top: 120px ;
    padding-left:5%;
    padding-right: 5%;
    font-size: 3rem;
    border: none;
    color: rgb(8, 7, 7);
    opacity: 0.6;
    transition: 0.3s;
}

.texto:hover {opacity: 1}

.letra-uno:hover span {
    top: -320px;
    left: -75px;
    width: 300px;
}

footer{
    padding: 1%;
    background-color: #7dece3 ;
    text-align: center;
    font-size: small;
    margin-top: 7%;
}


/*destinos*/

.destinos-principal{
    color: gray;
}
.tailandia{
    font-size:large;
    margin-left: 25%;
    margin-top: 5%;
}
.destinos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 140px 140px ;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-areas:
    "texto1 texto1 texto1 texto1 img1 img2 img3"
    "texto1  texto1 texto1 texto1 img4 img5 img6";
}

.destinos img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.texto1{
    grid-area: texto1;
    padding-left: 15%;
    margin-right: 10%;
    margin-top: 1%;
    text-align: center;
    padding: 0%;
    font-size: 14px;


}

.img1{
    grid-area: img1;
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
}

.img4{
    grid-area: img4;
}

.img5{
    grid-area: img5;
}

.img6{
    grid-area: img6;
}

.destinos1 img{
    height: 50vh;
    width: 100vh;
    display:inline;
    padding-left: 20px;
}

.destinos1{
    padding-left: 10%;
    padding-right: 20px;
    padding-top:5%;
    display:inline-flex;
    text-align:center;
}

.texto2{
    padding-top: 40px ;
    padding-left: 100px;
    padding-right: 130px
}

.destinos2 img{
    height: 50vh;
    width: 110vh;
    display:inline;
    padding-left: 10px;
    margin-right: 10%;
}

.destinos2{
    padding-left: 10%;
    padding-right: 20px;
    padding-top:5%;
    display:inline-flex;
    text-align:center;
}

.texto3{
    padding-top: 40px ;
    padding-left: 10px;
    padding-right: 80px
}

/*Galeria*/

.galeria-contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 15%;
    grid-gap: 10px;
    margin: 10%;
    margin-bottom: 20%;
}

.galeria-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.galeria-item:nth-child(6){
    grid-column-start: span 2;
}
.galeria-item:nth-child(1){
    grid-row-start: span 2;
}
.galeria-item:nth-child(3){
    grid-row-start: span 2;
}

.galeria-item:nth-child(10){
    grid-row-start: span 2;
}
.galeria-item:nth-child(13){
    grid-column-start: span 2;
}


/*Contacto*/

.contacto{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.iconos{
    display:flex;
    align-items: center;
    margin-left: 30%;
    gap: 6%;
}

.icono-contacto-tarjeta{
    margin-top: 5%;
}
.iconos p{
    color: grey;
    font-size: small;
    text-align:center;
    margin-right: 30%;
}

.linea{
    background-color: black;
    padding: 0.1px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 1%;
}

/*Oportunidades*/

.tarjetas{
    display:flex;
    flex-wrap: wrap;
    margin-left: 20%;
    gap: 10%;
    margin-right: 20%;
    margin-bottom: 2%;
    margin-top: 2%;

}

.card {
    width: 45vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    font-size: small;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;

}

.card-img {
    width: 40vh;
    height:40vh;
    object-fit:cover;
    margin-top: 2%;
}

.card-content{
    margin: 5%;
}

.linea1{
    background-color: black;
    padding: 0.1px;
    margin-top: 2%;
    margin-bottom: 1%;
}

.calendario{
    margin-top: 5%;
    display:inline-block;
}

h4{
    color: black;
}


@media screen and (max-width: 480px){


.portada-1{
    display: none;
}
.portada-3{
    display: none;
}

.portada-2{
    height: 100%;
}
.texto{
    display: none;
}
.nav{
    display: inline-flex;
text-align: center;
}
}

@media screen and (max-width: 768px){
    .portada-1{
        display: none;
    }
    .portada-3{
        display: none;
    }

    .nav {
    display: inline-block;
    font-size: small;
    
    }

}
