    /*HEADER*/

    .index{
        background-color: whitesmoke;
    }

header{
    margin-left: 50%;
    font-size: 1.1rem;
    font-family: $second-font-family;
    padding-right: 50%;


    nav ul li{
        display: inline-flex;
        padding-right: 20px;
        padding-top: 5%;
        
    }
}


.portada{
    padding-left: 10%;
    padding-right: 20px;
    padding-top:5%;
    display:inline-flex;
    text-align:center;
    font-family: $second-font-family;
    background-color: whitesmoke;

    img{
        height: 60vh;
        width: 35vh;
        display:inline;
        padding-left: 20px;
    }
}

    .texto{
        display: inline-flex;
        margin-top: 15% ;
        margin-left:10%;
        padding-right: 10%;
        color: rgb(8, 7, 7);

        h1{
            font-size: 5rem;
            animation:tracking-in-contract 2s cubic-bezier(.445,.05,.55,.95) backwards;
            animation-delay: 1s;
            
        }



    }
    /*FOOTER*/

    footer{
    padding: 1%;
    background-color: $mainColor ;
    text-align: center;

    font-size: small;
    margin-top: 7%;

    p{
        background-color: $mainColor ;
        text-align: center;
    }
}

.iconos{
    display:inline-flex;
    align-items: center;
    text-align: center;
    gap: 30%;
    background-color: $mainColor ;
    margin-right: 10%;
}


.indexfooter{
    display: none;
}


 @keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}