/*MEDIA QUERIES TABLET*/

@media screen and (max-width: 1024px){

    .indexfooter{
        display: none;
    }
    
    .portada{
    display: none;
    }
    
    .index {
        background-image: url('../img/portada2.jpg');
        background-size: cover; 
        background-repeat:no-repeat;
    }
    body, html {
        height: 100%;
        margin: 0;
    }
    body::before {
        content: 'TRAVEL';
        position: absolute;
        top: 0%;
        left: 3%;
        color: #070707; 
        font-size: 40px; 
        font-family: Georgia, 'Times New Roman', Times, serif;
        animation:tracking-in-contract 2s cubic-bezier(.445,.05,.55,.95) backwards;
        animation-delay: 1s;
    }
        header{
            padding: 0%;
            background-color: transparent;
        }
    
    
        
        .nav{
            margin-left: 70%;
            padding: 0%;
            background-color: transparent;
        }


    
    
    .texto1{
        margin-bottom: 5%;
        margin-left: 0%;
        margin-right: 0%;
        font-size: small;
        text-align:center;
    }
    
    
    .destinos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 140px 140px ;
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;
        grid-template-areas:
        "texto1 texto1 texto1"
        "texto1 texto1 texto1"
        "texto1 texto1 texto1"
        "img1 img2 img3"
        " img4 img5 img6";
    }
    
    .tailandia{
        text-align: center;
        margin: 0%;
        padding: 0%;
        text-decoration:underline;
        margin-top: 5%;
    }
    
    .card {
        padding: 0%;
        margin-left: 30%;
        margin-bottom: 5%;
    }
    
    .galeriafooter{
        margin-top: 25%;
    }
    .galeria-contenedor{
        margin: 4%;
        grid-gap: 5px;
    }
    
    .contacto{
        margin-top: 10%;
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
    }
    
    .iconos{
        display:flex;
        flex-wrap: wrap;
        margin-left: 13%;
        gap: 5%;
        margin-top: 5%;
        align-items: center;
        text-align: center;
    }
    
    .icono-contacto-tarjeta{
        margin-top: 4%;
    }
    .iconos p{
        margin-right: 0%;
    }
    
    .linea{
        background-color: rgb(61, 60, 60);
        padding: 0.1px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
        margin-bottom: 1%;
    }
    }
    
    
/*MEDIA QUERIES MOBILE*/

    @media screen and (max-width: 480px){
    
        .portada{
    display: none;
    }

    .index {
        background-image: url('../img/portada2.jpg');
        background-size: cover; 
        background-repeat:no-repeat;
    }
    body, html {
        height: 100%;
        margin: 0%;
        padding: 0%;

    }
    .index::before {  
    text-align: center;
        top: 40%;
        left: 0%;
        right: 0%;
        color: white; 
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        animation:tracking-in-contract 2s cubic-bezier(.445,.05,.55,.95) backwards;
        animation-delay: 1s;
    }
    header{
        padding: 0%;
        background-color: transparent;
    }

    
    .nav{
        margin: 0%;
        padding: 0%;
        background-color: transparent;
    }

    .texto{
        color: rgb(8, 7, 7);
        font-family: $second-font-family;}
    
    .card {
    padding: 0%;
    margin-left: 4%;
    margin-bottom: 5%;
    }
    
    
    .galeriafooter{
        margin-top: 25%;
    }
    .galeria-contenedor{
        margin: 2%;
        grid-gap: 2px;
    }
    
    .destinos{
        font-size:small;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align:center;
    }
    
    .texto1{
        margin-bottom: 5%;
        margin-left: 0%;
        margin-right: 0%;
        font-size: small;
        text-align:left;
    }
    
    .destinos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 140px 140px ;
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;
        grid-template-areas:
        "texto1 texto1 texto1"
        "texto1 texto1 texto1"
        "texto1 texto1 texto1"
        "img1 img2 img3"
        "img4 img5 img6";
    }
    
    .tailandia{
        text-align: center;
        margin: 0%;
        text-decoration:underline;
        margin-top: 5%;
    }
    
    .contacto{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        color:gray;
        font-family: $second-font-family;
        }
    

    
    .linea{
        background-color: grey;
        padding: 0.1px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
        margin-bottom: 4%;
    }
    .boton{
        border-radius: 10%;
        margin-top: 5%;
        align-items: center;
        padding: 1%;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 40%;
        font-size: small;
        border-color: grey;
    }

    .iconos{
        display:inline-flex;
        align-items: center;
        text-align: center;
        gap: 0%;
        margin-bottom: 2%;

    }
    
    }