.contacto{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color:gray;
    font-family: $second-font-family;
    }


.linea{
    background-color: rgb(139, 146, 144);
    padding: 0.1px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.bodycontacto{
    background-color: whitesmoke;
}

.boton{
    border-radius: 10%;
    margin-top: 5%;
    align-items: center;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 40%;
    font-size: small;
    border-color: grey;
}