.tarjetas{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    margin-top: 2%;


    .titulo-tarjeta{
        font-family: $second-font-family;
    }

    .card {
        width: 45vh;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
        font-size: small;
        @include margin(40px, 40px);
        text-align: center;
        background-color: whitesmoke;
}

        .card-img {
            width: 40vh;
            height:40vh;
            object-fit:cover;
            margin-top: 2%;
        }

        .card-content{
            margin: 5%;
        }

        .linea1{
            background-color: gray;
            padding: 0.1px;
            margin-top: 2%;
            margin-bottom: 1%;
        }
        
        .calendario{
            margin-top: 5%;
            display:inline-block;
        }

        .dias{
            font-size: medium;
            padding-top: 2%;
            font-family:'Times New Roman', Times, serif;
            color: grey;
        }
    }


.bodyoportunidades{
    background-color: whitesmoke;
}



